


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to VirusScanner</h1>
            <p class="text-center">VirusScanner is a free service that analyzes suspicious files and URLs and facilitates the quick detection of viruses, worms, trojans, and all kinds of malware.</p>
        </div>
    </div>
</div>

<div class="row panel-container" >
    <div class="card left-panel" id="box1">
        <div class="card-body">
            <h5 class="card-title">Scan File</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <form action="/scan" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Scan</button>
            </form>
        </div>
    </div>
    <div class="card right-panel"  id="box2">
        <div class="card-body">
            <h5 class="card-title">Search</h5>
            <p class="card-text">Search for a hash, domain, IP address, URL or gain additional context and threat landscape visibility </p>
            <form action="/scan" method="post">
                <input type="text" name="hashcode">
                <button type="submit">Scan</button>
            </form>
        </div>
    </div>
</div>


<script>

document.getElementById('box1').addEventListener('mouseover', function() {
    this.style.width = "100%";
    this.style.transform = "translateX(30%)";
    document.getElementById('box2').style.width = "0%";
    document.getElementById('box2').style.transform = "translateX(100%)";
});
  
document.getElementById('box1').addEventListener('mouseout', function() {
    this.style.width = "50%";
    this.style.transform = "translateX(0%)";
    document.getElementById('box2').style.width = "50%";
    document.getElementById('box2').style.transform = "translateX(0%)";
});
  
document.getElementById('box2').addEventListener('mouseover', function() {
    this.style.width = "100%";
    this.style.transform = "translateX(-30%)";
    document.getElementById('box1').style.width = "0%";
    document.getElementById('box1').style.transform = "translateX(-100%)";
});
  
document.getElementById('box2').addEventListener('mouseout', function() {
    this.style.width = "50%";
    this.style.transform = "translateX(0%)";
    document.getElementById('box1').style.width = "50%";
    document.getElementById('box1').style.transform = "translateX(0%)";
});

</script>