<%# <div id="clerk-login"></div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    if (typeof Clerk !== 'undefined') {
      Clerk.load({
        frontendApi: 'https://fair-gopher-54.clerk.accounts.dev',
      }).then(clerk => {
        clerk.createSignIn({container: '#clerk-login'});
      });
    } else {
      console.error("Clerk non è stato caricato correttamente.");
    }
  });
</script>
 %>