<div class="dark-mode-switch">
  <%= button_to toggle_dark_mode_path, 
                method: :post, 
                remote: true,
                class: "dark-mode-btn p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700",
                data: { turbo: false } do %>
    <i class="fas fa-moon dark-icon text-gray-600 dark:text-yellow-400" style="display: <%= cookies[:dark_mode] == 'true' ? 'inline-block' : 'none' %>;"></i>
    <i class="fas fa-sun light-icon text-gray-600 dark:text-yellow-400" style="display: <%= cookies[:dark_mode] == 'true' ? 'none' : 'inline-block' %>;"></i>
  <% end %>
</div>