<p style="color: green"><%= notice %></p>

<h1>Scans</h1>

<div id="scans">
  <% @scans.each do |scan| %>
    <% if scan.user == current_user %>
      <%= render scan %>
      <p>
        <%= link_to "Show this scan", scan %>
      </p>
    <% end %>
  <% end %>
</div>

<%# <%= link_to "New scan", new_scan_path %>
