<h1>Scan Report</h1>

<% if @scan.scan_id.present? %>
  <% report = @scan.virustotal_report %>
  <h2>File: <%= @scan.file.filename %></h2>
  <h3>Scan ID: <%= @scan.scan_id %></h3>

  <h3>Report:</h3>
  <pre><%= JSON.pretty_generate(report) %></pre>
<% else %>
  <p>Scan in progress or failed.</p>
<% end %>