<h1>Reset Password</h1>

<p>Ciao,</p>

<p>Hai richiesto di reimpostare la tua password. Clicca sul link seguente per procedere:</p>

<p>
  <%= link_to 'Reset Password', edit_password_reset_url(token: @token) %>
</p>

<p>Questo link scadrà tra 1 ora.</p>

<p>Se non hai richiesto il reset della password, puoi ignorare questa email.</p>